{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owlf Coffe</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <header>
        <div>
            <img src="" alt="Logo">
        </div>
        <nav>
            <ul>
                {% for item in menu %}
                <li>
                    <a href="{{ item.url }}">{{ item.nombre }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <section class="galeria">
        galeria
    </section>
    <section class="mapa">
        mapa
    </section>
    <footer>
        pie de pagina
    </footer>
</body>
</html>
